%div{:id => 'user_games', :class => "collection_container"}
  
  %h3
    Games (
    = @user.games.size
    )

  %ul{:id => 'gamesList', :class => "thumbnails span8"}
    - games.each do |game|

      %li{:id => game.id, :class => "span2"}
            
        .thumbnail                                                  
          = link_to image_tag(game.preview_image), play_path(game)
        
          %div{ :class => "gameAuthor" }
          
          %h4{:style => "margin-top:3px;"}
            = game.title
          
          .row{:style => "margin-top:3px;"}
            .span1
              %span{:class=>"label label-important"}
                = game.difficulty_in_words
            
            .span1
              %i{:class=>"icon-eye-open"}
              = game.played
