%div{:id => 'gamesLayer', :class => "layer"}

  .row{:class => "paginate_buttons"}
    .span9      
      = will_paginate games, :param_name => :games, :container => false, :page_links => false, :show_always => false, :previous_label => '&#9666; previous', :next_label => 'next &#9656;', :params => {:current => "games"}
  .row
    .span9
      %ul{:class => "thumbnails", :id => 'gamesList'}

        - games.each do |game|

          %li{:id => game.id, :class => "span3"}
          
            .thumbnail{:style => "position:relative"}
              = link_to image_tag(game.preview_image), play_path(game)
                        
              %a{ :href => user_path(game.author), :title => "#{game.author.display_name}"}
                %div{ :class => "gameAuthor", :style => "background-image:url(#{game.author.display_image})"}
              
              %h5
                = link_to game.title, play_path(game)
              
              .row{:class => "gameDetails"}

                .span1
                  %span{:class=>"label #{difficulty_class(game.difficulty)}"}
                    = game.difficulty_in_words

                .span2{:class => "gameStats"}
                  %i{:class=>"icon-gallery-played"}
                  = game.played
                  &nbsp;
                  %i{:class=>"icon-gallery-like"}
                  = game.likes
                  &nbsp;
                  %i{:class=>"icon-gallery-comments"}
                  = game.game_comments.size

              -if current_user == game.author

                %div{ :class => "settings" }

                  .row
                    .span3{:class => "wrapper"}
                
                      =link_to(game_path(game), :method => :delete, :confirm => "Permanently delete this game?") do
                        %i{:class => "icon-trash"}
                        delete