%ul{:id => 'user_graphics', :class => "collection_container"}
  .bar
    =image_tag "slider_left.png", :class => "slider_left"
    =image_tag "slider_right.png", :class => "slider_right"
    = will_paginate graphics, :show_always => true, :semantic => true, :param_name => :graphics_page, :container => false,  :page_links => false, :previous_label => '<img src="/assets/slider_left.png" alt="Prev page" class="slider_left" />', :next_label => '<img src="/assets/slider_right.png" alt="Next page" class="slider_right" />'
    .description
      Graphics
    .counter
      =user.graphics.size
    .clear
  
  = link_to 'new graphic', new_graphic_path, :class => "add addgraphic"
  .sort
    sort by:
    %select
      %option{:value =>"128 x 128"}
        128 x 128
      %option{:value =>"120 x 120"}
        100 x 100
  .clear
  #graphics
    -graphics.each do |graphic|
      %li{:class => "span2 graphic"}
        %div{:class => "frame_graphic", "data-frames" => "#{graphic.frame_count}", :style => "background-image:url(#{graphic.image});width:#{graphic.frame_width}px;height:#{graphic.frame_height}px;"}
        %ul{:class => 'meta'}
          =link_to image_tag("icon_public.png"), '#'
          =link_to image_tag("icon_edit.png"), '#'
          =link_to image_tag("icon_delete.png"), graphic_path(graphic), :method => :delete, :remote => true, :confirm => "Permanentlydelete this graphic?"
        .overlay
          %p
            = link_to graphic.name, '#'
            %br
            %span
              =graphic.frame_width
              x
              =graphic.frame_height