%ul{:id => 'user_graphics', :class => "collection_container"}
  
  %h3
    Graphics (
    = user.graphics.size
    )

  %ul{:id => 'gamesList', :class => "thumbnails"}
    - graphics.each do |graphic|

      %li{:id => graphic.id, :class => "span2 frame_graphic graphic"}
        .thumbnail
          
          %div{:class => "frame_graphic_element", "data-frames" => "#{graphic.frame_count}", :style => "background-image:url(#{graphic.image});width:#{graphic.frame_width}px;height:#{graphic.frame_height}px;"}
            
          %h4
            graphic.name
            %br
            %span
              =graphic.frame_width
              x
              =graphic.frame_height