%div{:id => 'graphicsLayer', :class => "layer"}

  .row{:class => "paginate_buttons"}
    .span9
      = will_paginate graphics, :param_name => :graphics, :container => false, :page_links => false, :show_always => false, :params => {:current => "graphics"}  

  .row
    .span9
      %ul{:class => "thumbnails"}

        - graphics.each do |graphic|

          %li{:id => "graphic#{graphic.id}", :class => "span2"}
            
            .thumbnail

              %a{:href => "#{graphic.image}", :target => "blank"}
                %div{:class => "frame_graphic graphic"}
                  %div{:class => "frame_graphic_element", "data-frames" => "#{graphic.frame_count}", :style => "background-image:url(#{graphic.image});width:#{graphic.frame_width}px;height:#{graphic.frame_height}px;"}
                
              %h6
                = limit_string(graphic.name)

              .row{:class => "graphicDetails"}
                
                .span1

                  =graphic.frame_width
                  x
                  =graphic.frame_height

                .span1{:class => "frame_display"}
                  =# class .frame_number is used in frame_player.js
                  %span{:class => "frame_number"} 
                    = pluralize(graphic.frame_count, "frame")

              .row{:class => "graphicGameDetails"}
                .span2                
                  Used in
                  - if graphic.games.count > 0
                    = link_to ( games_graphic_path(graphic) ) do
                      = pluralize(graphic.games.count, "game")
                  - else
                    0 games    

              .row{:class => "graphicGameDetails"}
                .span2
                  =link_to(support_report_graphic_path(graphic), :method => :post, :remote => true, :confirm => "Report this graphic?") do
                    %i{:class => "icon-flag"}
                    report

              -if current_user == graphic.user

                %div{:class => "settings"}

                  .row
                    .span1{:class => "wrapper"}
                    
                      =link_to(graphic_path(graphic), :method => :delete, :remote => true, :confirm => "Permanently delete this graphic?") do
                        %i{:class => "icon-trash"}
                        delete

                    .span1{:class => "public_state"}
                     
                      - if !graphic.public
                        
                        = link_to "set public", {:controller => "graphics", :action => "publish", :id => graphic.id}, :method => :put, :remote => true, :class => "", :title => "set public", :confirm => "Make this graphic available for all users?"     

                      - else

                        %span.label
                          public


%div{:id => "backgroundsLayer", :class => "layer"}

  .row{:class => "paginate_buttons"}
    .span9
      = will_paginate backgrounds, :param_name => :backgrounds, :container => false, :page_links => false, :show_always => false, :params => {:current => "backgrounds"}
  .row
    .span9
      %ul{:class => "thumbnails"} 

        - backgrounds.each do |graphic|

          %li{:id => "graphic#{graphic.id}", :class => "span5", :style => "width:330px"}
          
            .thumbnail
            
              %div{ :style => "background-image:url(#{graphic.image});", :class => "backgroundImage"}
              
              %h4
                = graphic.name
              
              .row

                %div{:class => "graphicDetails span1"}
                  =graphic.frame_width
                  x
                  =graphic.frame_height

                .span2{:class => "backgroundInGamesUsed"}
                  Used in
                  - if graphic.games.count > 0
                    = link_to ( games_graphic_path(graphic) ) do
                      = pluralize(graphic.games.count, "game")
                  - else
                    0 games  

              -if current_user == graphic.user

                %div{ :class => "settings" }

                  .row
                    .span1{:class => "wrapper"}
                  
                      =link_to(graphic_path(graphic), :method => :delete, :remote => true, :confirm => "Permanently delete this graphic?") do
                        %i{:class => "icon-trash"}
                        delete

                    .span1{:class => "public_state"}

                      - if !graphic.public

                        = link_to "set public", {:controller => "graphics", :action => "publish", :id => graphic.id}, :method => :put, :remote => true, :class => "", :title => "set public", :confirm => "Make this background available for all users?"
                      - else                        

                        %span.label.label-inverse
                          public




