%div{ :class => "row", :id => "profile"}
  
  .span3
    =render :partial => 'profile', :locals => {:user => @user}

  .span9

    #messages
      = render :partial => 'shared/stream', :locals => {:messages => @messages}

    %div{:class => "btn-group pull-left", :style => "margin-bottom:1em"}

      %button{:class => "btn gamesButton tabButton active"}
        Games
        = "(#{@games.count})"

      %button{:class => "btn graphicsButton tabButton"}
        Graphics
        = "(#{@graphics.count})"

      %button{:class => "btn backgroundsButton tabButton"}
        Backgrounds
        = "(#{@backgrounds.count})"
        
    = render :partial => 'games', :locals => {:games => @games, :user => @user}
    
    = render :partial => 'graphics', :locals => {:graphics => @graphics,
      :user => @user,
      :backgrounds => @backgrounds,
      :backgrounds_size => @backgrounds.count,
      :graphics_size => @graphics.count}
      
    :javascript
      var current_tab = "games";
