%div{:class => "well layer", :id => "reportLayer"}

  %a{:class =>"close closeLayer closeX"}
    &times;

  %h4 report this game

  %p
    If you think this game doesn't work, is inappropiate or it hurts any rights, then tell us.

  = form_tag("/support/report", :method => "post", :remote => true) do        

    = hidden_field_tag(:gid, "#{game.id}", :class => "span6")

    %label
      your comment
    = text_area_tag(:body, "", :size => "160x2", :class => "span7")

    %label
      reason
    = select_tag "type", "<option value='broken'>broken</option><option value='copyright'>copyright infrigment</option><option value='inappropiate'>inappropiate</option><option value='other'>other</option>".html_safe, :style=>"width:165px"

    %p
      = submit_tag 'send report', :class => "btn btn-success"
      %span{:class=>"btn closeLayer", :style => "margin-left:5px;padding:3px 5px"}
        cancel