%div{ :class => "row", :id => "imprint"}

  .span12

    = head_line( "team", "playtin" )

    .row

      .span7{:style => "width:505px"}
        
        %ul{:class => "thumbnails", :id => "teamlist"}

          %li{:class=>"thumbnail"} 
            =image_tag("team/dre.png")
            %h6         
              = link_to ("http://fidrelity.at") do
                andre<span>schweighofer</span>

          %li{:class=>"thumbnail"}
            =image_tag("team/ebsi.png")
            %h6 
              = link_to ("http://egraether.com") do
                eberhard<span>gräther</span>
              
          %li{:class=>"thumbnail graphic"}
            =image_tag("team/zeusreal.jpg")
            %h6 
              = link_to ("http://www.weberdevelopment.de") do
                francois<span>weber</span> 

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://www.playtin.com") do
                nicola<span>lieser</span>  

          %li{:class=>"thumbnail graphic"}
            = image_tag("team/hannah.jpg")
            %h6 
              = link_to ("http://www.playtin.com") do
                hannah<span>langhagel</span>   

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://www.playtin.com") do
                carina<span>reindl</span> 

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://www.playtin.com") do
                manuel<span>gottstein</span>                         

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://www.playtin.com") do
                manuel<span>boesze</span>



      .span5{:id => "imprint-right"}

        %h4{:style => "margin:0;"}
          our vision

        Playtin is a platform on which you can play and create mini games for free.

        Our vision is that everyone can easily create their own games and share them with others.

        Playtin is our mission and tool for those creative and game-loving people, who want to bring their game ideas to life.

        %h4{:style=>"margin-top:1em;"}
          current state

        We are currently in a beta phase, thus some features are still not available and in development.
        If you want to give us some feedback - which we appreciate very much - you can do that by clicking on 
        %span{:class=>"showFeedback"}
          %u
            Feedback button
        on the left.

        %h4{:style=>"margin-top:1em;"}
          info
        %i
          Playtin is not responsible for any law infringements by user generated content.
          For any possible law infringements please use our Feedback form at the left or
          use the 'report' feature built in on every games page.
      
        %h4{:style=>"margin-top:1em;"}
          address

        .row

          .span3
            Fachhochschule Salzburg
            %br
            University of Applied Sciences
            %br
            Urstein Sued 1
            %br
            A-5412 Puch/Salzburg
          
          .span2
            = link_to "http://www.fh-salzburg.ac.at/" do              
              %img{:src => "http://marblerun.at/images/logo-fhs.png", :width => 60, :height => 45}

      
