%div{ :class => "row", :style => ""} 

  %h2{:class=>"page-header"}
    Imprint
  %div{:class => "hero-unit", :style => "background:#FFF"}
    %p
      Playtin is a Community for playing and creating micro games. We just the website, so we're happy for every feedback!
      Playtin is not responsible for any law infringements by user generated content.
      For any possible law infringements please use our Feedback form at the left or
      use the 'report' feature built in on every games page.
  
    %h3= "Address"
    %p= "Fachhochschule Salzburg University of Applied Sciences"
    %p= "Urstein Sued 1"
    %p= "A-5412 Puch/Salzburg"
    
    = link_to "http://www.fh-salzburg.ac.at/" do
      %img{:src => "http://marblerun.at/images/logo-mediaCube.png", :width => 145, :height => 25}
      %img{:src => "http://marblerun.at/images/logo-fhs.png", :width => 60, :height => 45}
  %h2{:class=>"page-header"}
    Who we are
  
  %ul{:class => "thumbnails"}
    %li{:class=>"thumbnail"}
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Carina
        %small 
          Designer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Andre
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Ebsi
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Zeus
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Rufus   
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Manuel
        %small 
          Developer
      