%div{ :class => "row", :style => ""} 

  %h2{:class=>"page-header"}
    Imprint
  %div{:class => "hero-unit", :style => "background:#FFF"}
    %p
      Playtin is a Community for playing and creating micro games. We just the website, so we're happy for every feedback!
      Playtin is not responsible for any law infringements by user generated content.
      For any possible law infringements please use our Feedback form at the left or
      use the 'report' feature built in on every games page.
  
    %h3= "Address"
    %p= "Fachhochschule Salzburg University of Applied Sciences"
    %p= "Urstein Sued 1"
    %p= "A-5412 Puch/Salzburg"
    
    = link_to "http://www.fh-salzburg.ac.at/" do
      %img{:src => "http://marblerun.at/images/logo-mediaCube.png", :width => 145, :height => 25}
      %img{:src => "http://marblerun.at/images/logo-fhs.png", :width => 60, :height => 45}
  %h2{:class=>"page-header"}
    Who we are
  
  %ul{:class => "thumbnails"}
    %li{:class=>"thumbnail"}
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Carina Reindl
        %small 
          Designer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Andre Schweighofer
        %small 
          Developer
    %li{:class=>"thumbnail"}
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Eberhard Gräther
        %small 
          Developer
    %li{:class=>"thumbnail graphic"}
      %div{:class => "frame_graphic", "data-frames" => "2", :style => "background-image:url(assets/team/zeus.png);width:128px;height:128px;"}
      %h5 
        =link_to "Francois Weber", "http://www.weberdevelopment.de"
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Manuel Gottstein   
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Manuel Boesze
        %small 
          Developer
      