%div{ :class => "row", :id => "imprint"}

  .span12

    = head_line( "team", "playtin" )

    .row

      .span7{:style => "width:505px"}
        
        = image_tag("team/playtin_pcp.jpg", :style=>"width:453px")

        %ul{:class => "thumbnails", :id => "teamlist", :style => "margin-top:2em;"}

          %li{:class=>"thumbnail"} 
            =image_tag("team/dre.png")
            %h6         
              = link_to ("http://fidrelity.at") do
                andre<span>schweighofer</span>

          %li{:class=>"thumbnail"}
            =image_tag("team/ebsi.png")
            %h6 
              = link_to ("http://egraether.com") do
                eberhard<span>gräther</span>
              
          %li{:class=>"thumbnail graphic"}
            =image_tag("team/zeusreal.jpg")
            %h6 
              = link_to ("http://www.weberdevelopment.de") do
                francois<span>weber</span> 

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://nicolalieser.com/") do
                nicola<span>lieser</span>  

          %li{:class=>"thumbnail graphic"}
            = image_tag("team/hannah.jpg")
            %h6 
              = link_to ("http://onehundredpercent.at/") do
                hannah<span>langhagel</span>   

          %li{:class=>"thumbnail graphic"}
            =image_tag("team/rufus.png")
            %h6 
              = link_to ("http://manuelgottstein.com/") do
                manuel<span>gottstein</span>

          %li{:class=>"thumbnail graphic"}
            %div{:style => "width:128px;height:128px;background:#CCC"}
            %h6 
              = link_to ("http://www.carinareindl.com/") do
                carina<span>reindl</span>

          %li{:class=>"thumbnail graphic"}
            =image_tag("team/manuel.png")
            %h6 
              = link_to ("http://automatischgut.com/") do
                manuel<span>boesze</span>



      .span5{:id => "imprint-right"}

        %h4{:style => "margin:0;"}
          our vision

        Playtin is a platform on which you can play and create mini games for free.

        Our vision is that everyone can easily create their own games and share them with others.

        Playtin is our mission and tool for those creative and game-loving people, who want to bring their game ideas to life.

        %h4{:style=>"margin-top:1em;"}
          our history

        Playtin was the result of our final university term project and was first presented in June 2012 (started in March 2012). We started with five developers and one designer, but later got a total redesign from another two designers.
        %br
        %br
        In autumn 2012, most of the team went on with its master degree or joined the working life. However, now some of us are still putting a lot of spare time into developing Playtin further. In addition it helps us to stay in touch with each other (we are now located in USA, Spain and Austria).
        %br
        %br
        Until now we have learned a lot of things while developing Playtin. Not only our technical and collaboration skills have evolved, we also have to deal with totally new things like for example the marketing and promotion of a project.
        %br
        %br
        This makes Playtin for us to a very interesting and special hobby-project and we hope we can soon convince other people to give it a try, get feedback for improvements and hopefully realise our vision, that everybody can create his or her own microgame.

        %h4{:style=>"margin-top:1em;"}
          you can contribute
        
        We have of course a large list with ideas and features for Playtin. But if you are missing something at Playtin or you just found a bug, then 
        %span{:class=>"showFeedback"}
          %u
            let us know.

        %h4{:style=>"margin-top:1em;"}
          info
        %i
          Playtin is not responsible for any law infringements by user generated content.
          For any possible law infringements please use our Feedback form at the left or
          use the 'report' feature built in on every games page.
      
        %h4{:style=>"margin-top:1em;"}
          address

        .row

          .span3
            Fachhochschule Salzburg
            %br
            University of Applied Sciences
            %br
            Urstein Sued 1
            %br
            A-5412 Puch/Salzburg
          
          .span2{:style => "text-align:right;"}
            = link_to "http://www.fh-salzburg.ac.at/" do              
              %img{:src => "/assets/fhs_logo_playtin.png", :width => 111, :height => 69}

      
