.row

  .span12

    = head_line("paint", "tour")

    %p
      Every game needs graphics. And to give you
      %br
      everything you need for your awesome game,
      %br
      we also built a paint tool!

.row

  .span4{:class => "guide"}

    %h3
      This is how you paint ...

    %ol{:id => "guideStepsPaint"}
      %li an overview
      %li choose the right type
      %li know your tools
      %li animate your objects
      %li draw a background
  
  .span7

    %div{:id => "guide-slide-container-paint"}

      %div{:class => "slide-wrapper"}

        .slide
          =image_tag "guides/paint_overview.png"
          .foot-info
            Before creating a game you can draw your game objects ... like Batman!

        .slide
          =image_tag "guides/paint_size.png"
          .foot-info
            First you have to choose between an object or background type.

        .slide
          =image_tag "guides/paint_tools.png"
          .foot-info
            Use the pencil, line or circle tool to draw your graphics.

        .slide
          =image_tag "guides/paint_sprite.png"
          .foot-info
            Your game object can have several states (sprites).

        .slide
          =image_tag "guides/paint_background.png"
          .foot-info
            Backgrounds are painted in the same way.

= link_to button_line("start", "painting"), new_graphic_path, :class => "link-line guide-button"

.guide-line

.row

  .span12

    = head_line("create", "tour")

    %p
      This is the place where you can bring your paintings
      %br
      to life and create you own microgames!

.row

  .span4{:class => "guide"}

    %h3
      This is how you create ...

    %ol{:id => "guideStepsCreate"}
      %li place objects
      %li assign behavior
      %li set triggers and actions
      %li test, preview and publish your game
  
  .span7

    %div{:id => "guide-slide-container-create"}

      %div{:class => "slide-wrapper"}

        .slide
          =image_tag "guides/slide1.png"
          .foot-info
            After you have painted your game objects, you can place them on the stage.

        .slide
          =image_tag "guides/slide2.png"
          .foot-info
            In the action editor, you can assign behaviors to your game objects.

        .slide
          =image_tag "guides/slide3.png"
          .foot-info
            Set triggers and actions on your game objects in "IF ... THEN ..." style.

        .slide
          =image_tag "guides/slide4.png"
          .foot-info
            Before you save: Play your game. Give it a title, instructions and take a preview image.

= link_to button_line("start", "creating"), build_path, :class => "link-line guide-button"

.guide-line

.well{:class => "signup-info"}
  Just 
  =link_to "login with your facebook account", user_omniauth_authorize_path(:facebook)
  or 
  = link_to 'sign up', new_user_registration_path
  to publish your first game!
