-if user_signed_in?

  #messages-public
    = render :partial => 'shared/stream', :locals => {:messages => @messages}

- else

  .welcome
    
    %h2
      Paint, create and play mini games!

    Create your mini game in just 3 steps:

    .row{:id => "welcomeTeaser"}

      .span2{:style => "margin-right:45px"}
        = link_to image_tag("guides/welcome/paint.jpg"), new_graphic_path
      
      .span2{:style => "margin-right:45px"}
        = link_to image_tag("guides/welcome/create.jpg"), build_path        

      .span2
        = link_to image_tag("guides/welcome/play.jpg"), gallery_path        

    .row
      .span2{:style => "margin-right:45px"}
        %p
          1. paint
      
      .span2{:style => "margin-right:45px"}
        %p
          2. create

      .span2
        %p
          3. share and play
      
    %div{:style => "margin-bottom:2em"}
      %p
        Ever wanted to build your own mini game and share it with your friends?
        Here you can! Paint your own graphics, create your game and release it!
        All you need is your browser and imagination!*
      
    %small{:class => "pull-right"}
      * no programming skills required.
      
    %div
    
      = link_to button_line("visit", "tour"), build_path, :class => "link-line"
    
      = link_to button_line("sign", "up"), new_user_registration_path, :class => "link-line"
