=# ------------- User is logged OUT --------------
-if user_signed_in?
  %div{ :class => "well"}
    = link_to( user_path(current_user) ) do
      .avatar_big{:style => "float:right;"}
        = image_tag "#{current_user.display_image}", :style => "width:60px"
      %h2
        = current_user.display_name

    %div{:style => "margin-top:1em;"}
      %p
        = "#{current_user.games.size} games created"
      %p
        = "#{current_user.graphics.size} graphics created"
      %p
        %strong
          Total:
        %i{:class => "icon-eye-open"}
        = "#{@plays} plays"
        and
        %i{:class => "icon-thumbs-up"}
        = "#{@likes} likes"

- else
  %div{ :class => "well"}

    = form_tag user_session_path do

      %label E-Mail
      = text_field_tag 'user[email]', '', :placeholder => "Email", :class=>"span3"

      %label Password
      = password_field_tag 'user[password]', '', :placeholder => "Password", :class=>"span3"

      %button{ :type=>"submit", :class=>"btn"}
        Login

      =link_to(image_tag("facebook_login.png"), user_omniauth_authorize_path(:facebook))
