.span8{:class => "welcome"}
  
  %h2
    Paint, create and play microgames!*

  %p
    Create your microgame in just 3 steps:

  .row{:id => "welcomeTeaser"}

    .span2{:class => "thumbnail"}
      = link_to image_tag("guides/welcome/paint.jpg"), new_graphic_path
      %div
        1. paint

    .span2{:class => "thumbnail"}
      = link_to image_tag("guides/welcome/create.jpg"), build_path
      %div
        2. create

    .span2{:class => "thumbnail"}
      = link_to image_tag("guides/welcome/play.jpg"), gallery_path
      %div
        3. play and share

  %p
    Ever wanted to build your own microgame and share it with your friends?
    Here you can! Paint your own graphics, create your game and release it!
    All you need is your browser and imagination!
    
  %small{:class => "pull-right"}
    * no programming skills required.
    
  %div
  
    = link_to button_line("visit", "tour"), tour_new_path, :class => "link-line"
  
    = link_to button_line("sign", "up"), new_user_registration_path, :class => "link-line"

    = link_to button_line("try", "it"), build_path, :class => "link-line red", :id => "tryIt"

.span4{:style => "width:260px;margin-left:60px"}

  = form_tag user_session_path, :class => "well" do

    %label e-mail
    = text_field_tag 'user[email]', '', :placeholder => "e-mail", :class=>"span3"

    %label password
    = password_field_tag 'user[password]', '', :placeholder => "password", :class=>"span3"

    %button{ :type=>"submit", :class=>"btn home-login-button"}
      login

    =link_to(image_tag("facebook_login.png"), user_omniauth_authorize_path(:facebook))

  .well{:style => "padding:8px 19px 5px"}
    %h4
      Specials:

    %ul{:style => "margin:1em;padding:0;font-size:0.8em;"}
      %li No programming skills required.
      %li Share created graphics.
      %li Publish your games on social platforms.
      %li Embed your game on your website.
      %li Finished games can be played on touch devices.