%h3
  Comments (#{comments.size})

%div{:class=>"comments"}  
  
  -comments.each do |comment|

    .row{:class => "comment"}

      .span1{:style => "width:25px"}
        = link_to user_path(comment.user) do 
          %img{:src => comment.user.display_image, :style => "height:25px;width:25px", :alt => "#{comment.user.display_name}"}

      .span3{:style => "width:230px"}
        =comment.comment

        %span{:class => "commentData"}
          = comment.user.display_name
          -
          = "#{distance_of_time_in_words(comment.created_at, Time.now)} ago"

.row{:class => "commentForm"}

  .span4      

    =form_for GameComment.new, :url => comment_game_path, :html => {:class => "form-inline"}, :remote => true do |t|

      -if user_signed_in?
        %img{:src => current_user.display_image, :style => "height:25px;width:25px"}
      -else
        %img

      =t.hidden_field :game_id, :value => game.id
      =t.text_field :comment, :disabled => !user_signed_in?, :id => "formComment", :class => "span3"
      =t.submit "Add", :disabled => !user_signed_in?, :class => "btn btn-success"
