.row
  .span10
    %div{ :class => "btn-group"}

      %button{ :class => "btn"}
        Sort by #{ params[:type] || "Date" }
      %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
        %span{ :class => "caret"}

      %ul{:class => "dropdown-menu"}
        %li{:class => ""}
          =link_to "Date", gallery_path

        %li{:class => ""}
          =link_to "Rating", gallery_path({:type => "rating"})

        %li{:class => ""}      
          =link_to "Most played", gallery_path({:type => "played"}) 

        %li{:class => ""}
          =link_to "Difficulty", gallery_path({:type => "difficulty"})

  .pull-right
    = will_paginate @games, :param_name => :page, :container => false,  :page_links => false, :show_always => true

.row{:style => "margin-top:1em;"}

  .span12
  
    %ul{:id => 'gamesList', :class => "thumbnails"}

      - games.each do |game|             

        %li{:id => game.id, :class => "span3"}
          
          .thumbnail{:style => "position:relative"}
            = link_to image_tag(game.preview_image), play_path(game)
                      
            %a{ :href => user_path(game.author), :title => "#{game.author.display_name}"}
              %div{ :class => "gameAuthor", :style => "background-image:url(#{game.author.display_image})"}
            
            %h4
              = link_to game.title, play_path(game)
            
            .row{:class => "gameDetails"}

              .span1{:style => "width:50px;"}
                %span{:class=>"label label-#{game.difficulty_bootstrap_class}"}
                  = game.difficulty_in_words

              .span1{:style => "width:40px;"}
                %i{:class=>"icon-eye-open"}
                = game.played

              .span1{:style => "width:75px;text-align:right;"}

                %i{:class=>"icon-thumbs-up"}
                = game.likes
                &nbsp;
                %i{:class=>"icon-thumbs-down"}
                = game.dislikes