%div{:id => "player"}

  %canvas{:id => "playerCanvas", :width => 640, :height => 390}

  .titleScreen
    .playButton
    .loader
      loading...
    .titleBg
    .titleBar
      %strong
        = game.title
      %span
        by #{game.author.display_name}

  .startScreen
    .startBg
    .startBar
      %h2 Instructions
      .instruction 
        = game.instruction
      %p click to start!

  .winScreen{:class => "endScreen"}
    .bg
    %h2
      You win!

  .loseScreen{:class => "endScreen"}
    .bg
    %h2
      You lose!

  .playerBar

    %canvas{:class => "playerTimeline"}

    .playerTimeWrapper
      .playerTime
        00:25

    = link_to raw('<div class="playerLogo"></div>'), root_path

:javascript
  $(document).ready( function() {
    player_main( #{game.data}, #{game.id} );
  });