%div{:id => "player"}

  %canvas{:id => "playerCanvas", :width => 640, :height => 390}

  .titleScreen
    .playButton
    .titleBg
    .titleBar
      %strong
        = game.title
      %span
        by #{game.author.display_name}

  .startScreen
    .startBg
    .startBar
      %h2 Instructions
      .instruction 
        = game.instruction
      %p click to start!

  .playerBar

    .playerTimeline
      .playerIndicator

    .playerTimeWrapper
      .playerTime
        00:25

    .playerLogo

:javascript
  $(document).ready( function() {
    player_main( #{game.data}, #{game.id} );
  });