- disable = !!cookies["voted_game_#{@game.id}"]

.row{:style => "margin-top:1em;", :id => "ratingWrapper"}

  .span1{:style => "width:40px"}
    = button_to "#{@game.likes}", {:action => "like", :id => game.id}, :method => :put, :remote => true, :disabled => disable, :class => "likeButton btn btn-mini"

  .span2{ :style => "width:125px" }
    .progress.progress-success
      %div{:class => "bar", :style => "width:#{game.rating * 100}%;"}

  .span1{:style => "text-align:right;width:40px"}
    = button_to "#{@game.dislikes}", {:action => "dislike", :id => game.id}, :method => :put, :remote => true, :disabled => disable, :class => "dislikeButton btn btn-mini"