%div{:class=>"row"}

  %div{:class=>"span2"}
    &nbsp;

  %div{:class=>"span8"}
    %h2=@game.title
    =link_to "by #{@game.author.display_name}", user_path(@game.author)
    %canvas{:id => "playerCanvas", :width => 640, :height => 390}
    

    %div{:class=>"btn-group"}
      %button{:class=>"btn shareButton"}
        <i class="icon-retweet"></i> Share
      %button{:class=>"btn embedButton"}
        <i class="icon-share"></i> Embed
      %button{:class=>"btn reportButton"}
        <i class="icon-flag"></i> Report      
      %i{:class => "icon-eye-open"}
      =@game.played
    
    %div{:id => "ratingWrapper", :class=>"row"}
      = render :partial => "rating", :locals => {:game => @game}

    %div{:class => "well layer", :id => "shareLayer"}
      %a{:class=>"close closeLayer"}
        &times;
      %h4 Share this game on:
      %div{:id=>"fb-root"}
      .fshare
        %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        %fb:like{:layout => "button_count", :show_faces => "false", :width => "450"}
      .twshare
      %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "playtin", "data-text" => "this game is awesome!", "data-hashtags" => "minigame", :href => "http://twitter.com/share"}
        %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
      .gplusshare
        %script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
        .gplusshare{:class => "g-plusone", :href => play_url(@game)}

    %div{:class => "well layer", :id => "embedLayer"}
      %a{:class=>"close closeLayer"}
        &times;
      %h4 Embed code
      %label
        Use this code to embed the game on your page:
      %textarea{:cols =>"150", :rows =>"2", :class=>"span7", :style=>"font-family:Courier New;background:#222;color:#F6F6F6;"}
        <iframe width="640" height="390" src="#{root_url}play/#{@game.id}/embed" frameborder="0"></iframe>

    %div{:class => "well layer", :id => "reportLayer"}
      %a{:class =>"close closeLayer"}
        &times;
      %h4 Report us this game
      %p
        If you think this game doesn't work, is inappropiate or it hurts any rights, then tell us:
      = form_tag("/support/report", :method => "post", :remote => true) do        
        = hidden_field_tag(:gid, "#{@game.id}", :class => "span6")
        %label
          Tell us why:
        = text_area_tag(:body, "", :size => "120x2", :class => "span6")
        %label
          Reason:
        = select_tag "type", "<option>Broken</option><option>Copyright infrigment</option><option>Inappropiate</option>".html_safe          
        %p
          =submit_tag 'Send report', :class => "btn btn-success"
          %button{:class=>"btn closeLayer"}
            Cancel


    %div{:class=>"row", :style => "margin-top:2em", :id => "commentsWrapper"}
      = render :partial => 'comments', :locals => {:comments => @comments, :game => @game}


:javascript
  $(document).ready( function() {
    player_main( #{@game.data} );
  });
  