%div{:class=>"row"}

  %div{:class=>"span2"}
    &nbsp;

  %div{:class=>"span8"}
    %h2=@game.title
    =link_to "by #{@game.author.display_name}", user_path(@game.author)
    %canvas{:id => "playerCanvas", :width => 640, :height => 390}
  
    %textarea{:cols =>"150", :rows =>"1", :class=>"span8"}
      <iframe width="640" height="390" src="#{root_url}play/#{@game.id}/embed" frameborder="0"></iframe>

    %div{:class=>"btn-group"}
      %button{:class=>"btn"}
        <i class="icon-retweet"></i> Share
      %button{:class=>"btn"}
        <i class="icon-flag"></i> Report
      %button{:class=>"btn likeButton", "data-id" => @game.id}
        <i class="icon-plus-sign"></i> Like
        %span{:class=>"likeValue"}
          =@game.likes
      %button{:class=>"btn likeButton dislikeButton", "data-id" => @game.id}
        <i class="icon-minus-sign"></i> Dislike 
        %span{:class=>"dislikeValue"}
          =@game.dislikes

      %div{:class => "progress progress-success", :style => "background:#FF0000;"}
        %div{:class => "bar", :style => "width:#{@game.likes}%;"}

%div{:class=>"row", :style => "margin-top:2em"}
  %h2
    Comments (
    =@comments.size
    ):

  =form_for @game.game_comments.build, :url => comment_game_path, :html => {:class => "form-vertical well"}, :remote => true do |t|
    =t.hidden_field :game_id, :value => @game.id
    =t.label :comment
    =t.text_area :comment, :id => "formComment", :cols => 120, :rows => 2, :class => "span6"
    =t.submit "Save", :class => "btn btn-large"


  %div{:class=>"", :id => "commentsWrapper"}

    %div{:class=>"row comment", :id => "tempComment"}
      %div{:class=>"span1"}      
      %div{:class=>"span6"}

  
    -@comments.each do |comment|
      %div{:class=>"row comment"}
        %div{:class=>"span1"}
          Author
        %div{:class=>"span6"}
          =comment.comment
          %br
          =comment.created_at

:javascript
  $(document).ready( function() {
    player_main( #{@game.data} );
  });
  