%link{:rel => "image_src", :href => @game.preview_image} 

%h2{:class => "section-header"}
  =@game.title

.row

  .span8{:style => "margin-right:20px;"}
  
    = render :partial => "player", :locals => {:game => @game}

  .span4{:style => "width:280px;"}

    %div{:id => "playGame" }

      %div{:class => "gameDetailAuthor" }
        .avatar
          %img{:src => @game.author.display_image }
        =link_to "#{@game.author.display_name}", user_path(@game.author)

      %div{:style => "margin-top:1em;"}    
        %b 
          created at
          = @game.created_at.to_date

      .row{:style => "margin-top:1em;"}

        .span1
          %span{:class=>"label #{difficulty_class( @game.difficulty)}"}= @game.difficulty_in_words

        .span1
          %i{:class => "icon-show-eye-open"}
          %span{ :id => "playedWrapper"}
            = render :partial => "played", :locals => {:played => @game.played}
      
      %div{:id => "ratingWrapper"}
        = render :partial => "rating", :locals => {:game => @game}

    - if  @game.is_fork?
      - origin = @game.origin
      %div{:style => "margin-top:1em;"}
        %h4
          Based on
          = link_to origin.title, games_path(origin)
          by
          = link_to(user_path(origin.author)) do
            .avatar
              %img{:src => origin.user.display_image, :title => origin.author.display_name}
    - else
      %div{:style => "margin-top:1em;"}
        = link_to (fork_game_path(@game.id)), :class => "btn", :id => "loadGameToEditor" do
          %i{:class => "icon-random"}
          Load game into editor

    %div{:style => "margin-top:1em;"}
      - if @graphics_co_authors.size > 0
        %h4
          Uses graphics made by:
        
        - @graphics_co_authors.each do |co_author|
          = link_to(user_path(co_author.user)) do
            .avatar
              %img{:src => co_author.user.display_image, :title => co_author.user.display_name}
         
.row{:style => "margin-top:1em;"}

  .span12

    %div{:class=>"btn-group", :id=>"shareButtons"}
      %button{:class=>"btn shareButton"}
        %i{ :class => "icon-share"}
        share

      %button{:class=>"btn embedButton"}
        %i{ :class => "icon-retweet"}
        embed

      %button{:class=>"btn reportButton btn-danger"}
        %i{ :class => "icon-flag icon-white"}
        report

.row{:style => "margin-top:1em;"}
  .span8
    = render :partial => "games/layers/share_layer", :locals => {:game => @game}
    = render :partial => "games/layers/embed_layer", :locals => {:game => @game}
    = render :partial => "games/layers/report_layer", :locals => {:game => @game}


.row{:style => "margin-top:1em;"}

  .span8{:style => "margin-right:20px;"}
    %div{:id => "commentsWrapper"}
      = render :partial => 'comments', :locals => {:comments => @comments, :game => @game}  

  .span4{:style => "width:280px;"}
    = render :partial => "related", :locals => {:games => @game.related(4, @game.id)}

:javascript
  $(document).ready( function() {

    playsite_main(#{@game.id});
    
  });