%ul{:id => "nav"}
  %li{:class => "home", :id =>"nav_top"}
    =link_to 'home', root_path
  %li{:class => "gallery", :id =>"nav_left"}
    =link_to image_tag("nav_gallery.png", :border=>0), gallery_path
    
  -if user_signed_in?
    %li{:class => "profile", :id =>"nav_right"}
      =link_to image_tag("nav_profile.png"), user_path(current_user.id)
      =#link_to('profile', user_path(current_user.id), :remote => true)
  -else
    %li{:class => "profile login", :id =>"nav_right"}
      =image_tag("nav_profile.png")
    .popout
      = link_to 'Login', new_user_session_path
      = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
  
  %li{:class => "editor", :id =>"nav_bottom"}
    =link_to image_tag("nav_editor.png", :border=>0), build_path
  -if false
    -if user_signed_in?
      %li= link_to 'Profile', user_path(current_user.id)
      %li= link_to 'Logout', destroy_user_session_path, :method => :delete
    -else
      %li= link_to 'Login', new_user_session_path
      %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

=if false
  .flash_message
    =flash[:notice]
    =flash[:alert]
    =flash[:error]
