#header

  #first

    %h1
      = link_to "Playtin", root_path

    %h2 1st microgame platform

    = link_to raw('<div id="logo"></div>'), root_path

  %ul{:id => "menu"}

    %li{:id =>"paint", :class => ("active" if current_page?(new_graphic_path))}
      =link_to "Paint", new_graphic_path

    %li{:id =>"build", :class => ("active" if current_page?(build_path))}      
      =link_to "Create", build_path

    %li{:id =>"play", :class => ("active" if current_page?(gallery_path) || current_page?(play_path(params[:id] || -1)))}
      =link_to "Play", gallery_path

  = form_tag search_games_path, :method => 'get', :class => "form-inline navbar-search", :id => "search" do

    = text_field_tag "term", "", :class => "searchbox", :placeholder => "search game"

    %button{:type => "submit", :id => "submit"}

  #profile{:class => "pull-right"}

    = get_user_dropdown_content(current_user)

%div{:id => 'flash-messages', :class => "row"}
  %ul
    %li{:id => "flash-template",:class => "alert"}
      %span{:class=>"msg"}
      = link_to '&times;'.html_safe, '#', :class => ['close', 'closeFlash']
  =render :partial => 'layouts/flash', :locals => {:flash => flash}


%a{:id=>"facebook_sidebutton", :href => "https://www.facebook.com/playtinCom"}
%a{:id=>"twitter_sidebutton", :href => "http://twitter.com/playtincom"}
=render :partial => "layouts/feedback"