
%header
  =# link_to(image_tag("logo.png", :id => "logo"), root_path) 
  .social_login
    -if user_signed_in?
      %div= link_to('Profile', user_path(current_user.id))
      %div= link_to('Logout', destroy_user_session_path, :method => :delete)
    -else
      %div= link_to('Login', new_user_session_path)
      %div= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
    
  
  %ul{:id => "nav"}
    %li{:id => "nav_top"}= image_tag("home.png")
    %li{:id => 'nav_left'}= image_tag("editor.png")
    %li{:id => 'nav_right'}= image_tag("profile.png")
    %li{:id => 'nav_bottom'}= image_tag("gallery.png")
    
    

.clear

.flash_message
  =flash[:notice]
  =flash[:alert]
  =flash[:error]
